*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Exo', sans-serif;
}

body{
    background-color: #edf6f9;
}

.container{
    max-width: 1200px;
    margin: auto;
}
#members-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
li{
    margin: 20px;
    color: #006d77;
    text-align: center;
    list-style: none;
    background-color: #83c5be;
    padding: 20px;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
    transition: all 0.5s;
}

li:hover{
    scale: 1.1;
    background-color: #ffddd2
}

h2{
    margin: 10px;
    text-align: center;
    color: #006d77;
}

li img{
    width: 100%;
    max-width: 250px;
    border-radius: 40px;
}

h4{
    margin-bottom: 5px;
    color: #006d77;
}
h5{
    margin-top: 5px;
}